.container.cat_wrap.tag_cloud
	- tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class|
		%div.tag-green= link_to tag.name, tag_path(tag.name), class: css_class
- Category.all.each do |category|
	.col-md-3
		.cat_wrap
			= image_tag Recipe.last.image.url(:medium)
			%h2= link_to category.name, recipes_path(category: category.name)
			%h2= category.recipes.size
	