.jumbotron
	%h2 Recetas de la iaia
	%h3 Para nunca perderlas y poder compartirlas
- @recipe.each_slice(4) do |recipes|
	.row
		- recipes.each do |recipe|
			.col-md-3
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image.url(:medium)
					%h2= link_to recipe.title, recipe
					%span.glyphicon.glyphicon-heart.pull-right
					%span.glyphicon.glyphicon-user.pull-right
					%h3= link_to recipe.user.name


